body {
  margin: 0;
}



.Navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

.NavbarButton {
  height: 5vh;
  min-width: 8vw;
  margin: 0;
  padding: 1vw;
  background-color: #262626;
  color: #f7b2e4;
  border: none;
  display: block;
  float: left;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
}

.NavbarButton:hover {
  background-color: #f7b2e4;
  color: #262626;
}

.LangButton {
  height: 5vh;
  width: 8vw;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: #f7b2e4;
  border: none;
  display: block;
  float: right;
  text-align: center;
  font-size: 100%;
  cursor: pointer;
}

.LangButton:hover {
  background-color: black;
}
